/*找回密码开始*/
#findpwd_wrapper {
    width: 100%;
    overflow: hidden;
    background: #f5f5f5;
    overflow: hidden;
    padding: 30px 0px;
}
.findpwd_box {
    margin: 0 auto 10px;
    width: 794px;
    padding: 30px;
    background: #fff;
}
.findpwd_box h1 {
    font-size: 30px;
    font-weight: normal;
    color: #333;
    line-height: 1.5;
}
.findpwd_box h1 span {
    color: #757575;
    font-size: 12px;
    line-height: 1.5;
    margin-left: 10px;
}
.find_title {
    margin: 30px 0 0;
    overflow: hidden;
    width: 794px;
}
.find_title ul {
    font-size: 16px;
    line-height: 1.25;
    list-style-type: none;
    margin: 0;
    width: 800px;
    overflow: hidden;
}
.find_title ul li {
    color: #757575;
    cursor: pointer;
    float: left;
    font-size: 16px;
    line-height: 1.25;
    list-style-type: none;
    border-left: 1px solid #e0e0e0;
    width: 397px;
    text-align: center;
}
.find_title ul .selected {
    color: #000;
}
.same_find {
    border-top: 1px solid #e0e0e0;
    margin-top: 20px;
    padding: 25px 0;
    position: relative;
    width: 794px;
    text-align: center;
}
.same_find h3 {
    color: #333;
    font-size: 15px;
    padding-bottom: 10px;
}
.same_find label {
    width: 130px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
}
.same_find label input {
    display: none;
    margin: 0px 5px 0px 0px;
}
.same_find label p {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-family: arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","微軟正黑體","儷黑 Pro",sans-serif;
    font-size: 12px;
}

.same_find label i {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 15px;
    top: 8px;
    background: url(../img/findpasswordByEmail/icon_tip.png) no-repeat 0px -101px;
}
.same_find label .selected {
    background-position: 0 -85px;
    z-index: 1;
}
.same_find .find_word {
    height: 20px;
    line-height: 20px;
    width: 210px;
    display: block;
    padding: 5px 10px;
    margin: 10px auto;
    border: 1px solid #e0e0e0;
}
.btn_success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn {
	font-size: 12px;
    font-family: "Microsoft YaHei", "微软雅黑", "宋体";
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn_default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    width: 110px; 
    line-height: 30px; 
    padding: 0;
}
.btn_success{
	width: 110px; 
	line-height: 30px;
	 padding: 0;
}
.btn_default:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.find_by_phone .find_mobile {
    height: 20px;
    line-height: 20px;
    width: 210px;
    display: block;
    padding: 5px 10px;
    margin: 10px auto;
     border: 1px solid #e0e0e0;
}
.find_by_phone .find_code_box {
    height: 24px;
    line-height: 24px;
    width: 214px;
    display: block;
    padding: 5px 10px;
    margin: 10px auto;
    position: relative;
    border: 1px solid #e0e0e0;
}
.find_by_phone .find_code_box .find_code {
    border: 0px none;
    position: absolute;
    left: 10px;
    top: 10px;
}
.find_by_phone .find_code_box .get_message {
    border: 0px none;
    border-left: 1px solid #e0e0e0;
    position: absolute;
    right: 10px;
    top: 8px;
    background: #fff;
    cursor: pointer;
    padding: 0px 0px 0px 10px;
}
/*找回密码结束*/